<script>
'use strict';
$(() => {

  const kataId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.open(`/kata/edit/${kataId}`);
    window.location.href = '/home/index';
  });

});
</script>

<div id="avatar-page">

  we're in a group
  <br/>
  
  <img class="large avatar" src="/avatars/image/<%= @index %>"/>
  <br/>

  <div class="individual-id"><%= @manifest['id'] %></div>

  <%
    exercise_name = @manifest['display_name']
    if @manifest.has_key?('exercise')
      exercise_name += ", " + @manifest['exercise']
    end
  %>
  <%= exercise_name %>
  <br/>

  <% group_id = @manifest['group_id'] %>
  you are the <%= @name %> in group <a href="/home/group?id=<%= group_id %>"><%= group_id %></a>
  <br/>

  <div class="ok button">ok</div>

</div>
