<script>
'use strict';
$(() => {

  const groupId = "<%= @manifest['group_id'] %>";
  const kataId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.open(`/kata/edit/${kataId}`);
    window.location = `/home/index?id=${groupId}`;
  });

});
</script>

<% group_id = @manifest['group_id'] %>

<%= erb :'background' %>

<div id="avatar-page">
  <div class="box">

    <table class="panel">
      <tr>
        <td>
          <table>
            <% 2.times do %>
            <tr>
              <% 2.times do %>
              <td>
                <img class="large avatar" src="/avatars/image/<%= @index %>"/>
              </td>
              <% end %>
            </tr>
            <% end %>
          </table>
        </td>
        <td>
          <div class="group-id"><%= group_id %></div>
          <div class="blurb">your avatar is the</div>
          <div class="avatar-name"><%= @name %></div>
          <div class="ok button">ok</div>
        </td>
      </tr>
    </table>

  </div>
</div>
