
<div id="home-page">

  <div class="heading">
    <%= erb :cyber_dojo                        %>
    <%= erb :a_place_to_practise_programming %>
  </div>

  <div class="controls">
    <%= erb :group_buttons      %>
    <%= erb :enter_id           %>
    <%= erb :individual_buttons %>
  </div>

  <div class="info">
    <%= erb :license    %>
    <%= erb :foundation %>
    <%= erb :technology %>
  </div>

</div>
