
<div id="home-page">

  <div class="heading">
    <%= erb :cyber_dojo                        %>
    <%= erb :the_place_to_practise_programming %>
    <%= erb :individual_button                 %>
    <%= erb :group_button                      %>
  </div>

  <%= erb :license    %>
  <%= erb :pies       %>
  <%= erb :foundation %>
  <%= erb :technology %>

</div>
