<script>
'use strict';
$(() => {

  const kataId = "<%= @manifest['id'] %>";

  $('.ok.button').click(() => {
    window.open(`/kata/edit/${kataId}`);
    window.location.href = '/home/index';
  });

});
</script>

<div id="individual-page">
Individual-Id <%= @manifest['id'] %><br/>
Name <%= @name %><br/>
Display-Name <%= @manifest['display_name'] %><br/>
<% if @manifest.has_key?('exercise') %>
Exercise <%= @manifest['exercise'] %><br/>
<% end %>
Image <%= @manifest['image_name'] %><br/>
<div class="ok button">ok</div>
</div>
