<script>
'use strict';
$(() => {

  cd.setupHoverTips($('[data-tip]'));

  $('.small.colour.rejoin.avatar').click((event) => {
    const kataId = $(event.target).data('id');
    window.open(`/kata/edit/${kataId}`);
    window.location.href = '/home/index';
  });

});
</script>

<%= erb :'background' %>

<div id="rejoin-page">
  <div class="box">

    rejoin <%= @manifest['id'] %>
    <br/>
    click your animal

    <div>
      <table cellspacing="0" cellpadding="2">
        <% 8.times do |y| %>
        <tr>
          <% 8.times do |x| %>
          <td>
            <% index = y*8 + x %>
            <% kata_id = @avatars[index] %>
            <% avatar_name = @avatars_names[index] %>
            <% if kata_id %>
              <div data-tip="<%= avatar_name %>">
                <img data-id="<%= kata_id %>"
                     src="/avatars/image/<%= index %>"
                     class="small colour rejoin avatar"/>
              </div>
            <% else %>
              <img src="/avatars/image/<%= index %>"
                   class="small grey avatar"/>
            <% end %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>
