<script>
'use strict';
$(() => {

  cd.setupHoverTips($('[data-tip]'));

  cd.rejoin = (kataId) => {
    window.open(`/kata/edit/${kataId}`);
    window.location = '/home/index';
  };

});
</script>

Rejoin
<%= @manifest['id'] %>

<div>
  <table>
    <% 8.times do |y| %>
    <tr>
      <% 8.times do |x| %>
      <td>
        <% index = y*8 + x %>
        <% kata_id = @avatars[index] %>
        <% avatar_name = @avatars_names[index] %>
        <% if kata_id %>
          <div data-tip="<%= avatar_name %>">
            <img onclick='cd.rejoin("<%= kata_id %>");'
                 src="/avatars/image/<%= index %>"
                 class="small avatar colour"/>
          </div>
        <% else %>
          <img src="/avatars/image/<%= index %>"
               class="small grey avatar"/>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
