
<div id="home-page">

  <div class="heading">
    <%= erb :'home/cyber_dojo'                      %>
    <%= erb :'home/a_place_to_practise_programming' %>
  </div>

  <div class="controls">
    <%= erb :'home/group_buttons'      %>
    <%= erb :'home/enter_id'           %>
    <%= erb :'home/individual_buttons' %>
  </div>

  <div class="info">
    <%= erb :'home/license'    %>
    <%= erb :'home/technology' %>
  </div>

</div>
