<script>
'use strict';
$(() => {

  $('img.background')

});
</script>

<table id="background">
  <tr>
    <td><img src="/avatars/image/all" ></td>
    <td><img src="/avatars/image/all" ></td>
  </tr>
  <tr>
    <td><img src="/avatars/image/all" ></td>
    <td><img src="/avatars/image/all" ></td>
  </tr>
  <tr>
    <td><img src="/avatars/image/all" ></td>
    <td><img src="/avatars/image/all" ></td>
  </tr>
</table>

<div id="home-page">
  <div class="box">
    <div class="heading">
      <%= erb :'home/cyber_dojo'                      %>
      <%= erb :'home/a_place_to_practise_programming' %>
    </div>
    <%= erb :'home/create'   %>
    <%= erb :'home/enter_id' %>
    <%= erb :'home/questions' %>
  </div>
</div>
